PORT=5000
MONGODB_URI=mongodb://localhost:27017/ethiotransit
JWT_SECRET=ethiotransit_super_secret_jwt_key_2026_modern_production
JWT_REFRESH_SECRET=ethiotransit_super_secret_refresh_jwt_key_2026_modern_production
CLIENT_URL=http://localhost:5173

# Future Payment Gateway Credentials (Telebirr / Chapa / CBE Birr)
PAYMENT_PROVIDER=mock
PAYMENT_PROVIDER_KEY=demo_key_telebirr_cbe
PAYMENT_PROVIDER_SECRET=demo_secret_telebirr_cbe
PAYMENT_CALLBACK_URL=http://localhost:5000/api/payments/verify
